
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label {
    color: rgb(0, 0, 0);
    margin: .25rem 0;
}
.input {
    margin: .25rem 0;
    letter-spacing: .02rem;
    padding: .25rem;
    width: 100%;
}