.parent-box {
    list-style: none;
}
.children-box {
    background-color: rgb(204, 204, 204);
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.permisstion {
    font-weight: 600;
}
.date {
    color: gray;
}