.form {
    display: block;
    width: 80%;
}
.center {
    display: block;
    width: 100%;
    margin: .25rem 0;
}
.between {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
}