.parentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.modal-update {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}